<div class="live-status-toolbar">
  <div id="search-controls">
      <input #addressInput type="text" placeholder="Enter address..." />
      <button (click)="searchAddress(addressInput.value)">Search</button>
  </div>
  <div class="show-zones-controls" 
    *ngIf="currentView == MapView.RoutePlanning"
    [ngClass]="showSpecialZones ? 'show-zones': ''"
    (click)="toggleShowSpecialZones()"
    >
    <div> Show Special Zones </div>
  </div>
  <div class="filter-controls" *ngIf="currentView == MapView.LiveStatus">
      <select [(ngModel)]="violationFilter" 
      (change)="onViolationFilterChange()"
      class="violation-filter">
      <option *ngFor="let option of filterOptions" 
      [value]="option.value">
      {{ option.label }}
    </option>
    </select>
  </div>
</div>
<!-- Map container -->
<div #mapElement id="map" [ngClass]="(currentView == MapView.LiveStatus ? 'live-status' : '')"></div>
<div #popupElement id="popup" class="ol-popup" *ngIf="currentView == MapView.LiveStatus">
    <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closePopup($event)"></a>
    <div id="popup-content" [innerHTML]="popupContent"></div>
</div>

<!-- Controls for the map -->
<div id="controls">
  <button (click)="clearPath()">Clear Path</button>
  <button (click)="toggleBaseLayer()">Toggle Satellite Layer</button>
</div>

<!-- Display Waypoints -->
<div id="waypoints">
  <h3>Waypoints:</h3>
  <ul>
    <li *ngFor="let waypoint of waypoints; let i = index">
      Waypoint {{ i + 1 }}: {{ waypoint.latitude | number:'1.6-6' }}, {{ waypoint.longitude | number:'1.6-6' }}
    </li>
  </ul>
</div>
