<div id="search-controls">
    <input #addressInput type="text" placeholder="Enter address..." />
    <button (click)="searchAddress(addressInput.value)">Search</button>
</div>

<!-- Map container -->
<div #mapElement id="map" [ngClass]="(liveStatusView ? 'live-status' : '')"></div>
<div #popupElement id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closePopup($event)"></a>
    <div id="popup-content" [innerHTML]="popupContent"></div>
</div>

<!-- Controls for the map -->
<div id="controls">
  <button (click)="finalizePath()">Finalize Path</button>
  <button (click)="clearPath()">Clear Path</button>
  <button (click)="toggleBaseLayer()">Toggle Base Layer</button>
</div>

<!-- Display Waypoints -->
<div id="waypoints">
  <h3>Waypoints:</h3>
  <ul>
    <li *ngFor="let waypoint of waypoints; let i = index">
      Waypoint {{ i + 1 }}: {{ waypoint.latitude | number:'1.6-6' }}, {{ waypoint.longitude | number:'1.6-6' }}
    </li>
  </ul>
</div>
