<div class="routes-header"> Created Routes </div>
<div *ngIf="routes && routes.length; else noRoutes">
    <div *ngFor="let route of routes" style="display: grid; justify-content: start; grid-template-columns: auto auto auto; column-gap: 10px; margin: 10px;">
        <div class="route-name" (click)="selectRoute(route)" [ngClass]="{'selected': selectedRoute?.route_id === route.route_id}">
            {{ route.name }}
        </div>
        <div>
            <button (click)="editRoute(route)" *ngIf="selectedRoute == route">Edit</button>
            <button (click)="saveRoute()" *ngIf="editingRoute == route">Save</button>
        </div>
        <div>
            <button (click)="deleteRoute(route)" title="Delete Route">X</button>
        </div>
    </div>
</div>

<div>
    <!-- Input for new route name -->
    <input type="text" [(ngModel)]="newRouteName" placeholder="Enter new route name" />

    <!-- Button to submit the new route -->
    <button (click)="submitRoute()">Submit Route</button>
</div>

<app-waypoints [route]="selectedRoute" [waypoints]="waypoints"></app-waypoints>
  
<ng-template #noRoutes>
    <p>No routes available.</p>
</ng-template>
