.content {
    margin-bottom: 100px;
}

.routes-header {
    font-size: 20pt;
}

.route-name {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
} .route-name.selected {
    background-color: gray;
    cursor: pointer;
}