.main-content {
    background-color: rgb(128, 220, 236);
    height: fit-content;
    padding: 5px;
    margin-bottom: 10px;
}
.nav-links {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.nav-link {
    font-size: 1.2rem;
} .nav-link:hover {
    transition: transform 100ms;
    transform: scale(1.03);
} .nav-link.selected {
    transition: all 1s;
    /* transform: scale(1.05); */
    text-decoration: underline;
}