<div class="main-content">
    <div class="nav-links">
        <!-- <div *ngFor="let pageLink in pageLinks"
            class="nav-link" 
            routerLink="/route-planning" 
            (click)="selectLink(pageLink)"> 
            {{pageLink.value}} 
        </div> -->
        <div 
            class="nav-link" 
            routerLink="/route-planning" 
            (click)="selectLink(pageLinks.RoutePlanning)"> 
            {{pageLinks.RoutePlanning}} 
        </div>
        <div 
            class="nav-link" 
            routerLink="/live-status" 
            (click)="pageLinks.LiveStatus"> {{pageLinks.LiveStatus}}</div>
        <div 
            class="nav-link" 
            routerLink="/zones" 
            (click)="pageLinks.Zones"> {{pageLinks.Zones}}
        </div>
    </div>
</div>
